<div class="card bg-secondary shadow">
  <div class="card-header bg-white border-0">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">{{'PROFILE.MYACCOUNT' | translate}}</h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h6 class="heading-small text-muted mb-4">{{'PROFILE.USERINFO' | translate}}</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="userName">{{'DEFAULT.EMAIL' | translate}}</label>
              <input type="email" id="userName" readonly class="form-control form-control-alternative"
              [ngClass]="cssValidator(f.userName)" formControlName="userName" placeholder="{{'DEFAULT.EMAIL' | translate}}">
              <div class="ml-1 invalid-feedback" *ngIf="f.userName.errors?.required">{{'VALIDATIONS.EMAIL' | translate}}</div>
              <div class="ml-1 invalid-feedback" *ngIf="f.userName.errors?.email">{{'VALIDATIONS.EMAILINVALID' | translate}}</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="name">{{'DEFAULT.NAME' | translate}}</label>
              <input type="text" id="name" class="form-control form-control-alternative"
              [ngClass]="cssValidator(f.name)" formControlName="name" placeholder="{{'DEFAULT.NAME' | translate}}">
              <div class="ml-1 invalid-feedback">{{'VALIDATIONS.NAME' | translate}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" for="address">{{'PROFILE.ADDRESS' | translate}}</label>
              <input id="address" class="form-control form-control-alternative" formControlName="address" placeholder="{{'PROFILE.ADDRESS' | translate}}" type="text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="city">{{'PROFILE.CITY' | translate}}</label>
              <input type="text" id="city" class="form-control form-control-alternative" formControlName="city" placeholder="{{'PROFILE.CITY' | translate}}">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="country">{{'PROFILE.COUNTRY' | translate}}</label>
              <input type="text" id="country" class="form-control form-control-alternative" formControlName="country" placeholder="{{'PROFILE.COUNTRY' | translate}}">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="country">{{'PROFILE.POSTALCODE' | translate}}</label>
              <input type="number" id="postal-code" class="form-control form-control-alternative" formControlName="postalCode" placeholder="{{'PROFILE.POSTALCODE' | translate}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>{{'PROFILE.ABOUTME' | translate}}</label>
              <textarea rows="4" class="form-control form-control-alternative" formControlName="aboutMe" placeholder="{{'PROFILE.ABOUTME_PLACEHOLDER' | translate}}"></textarea>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <h6 class="heading-small text-muted mb-4">{{'PROFILE.CHANGEPASSWORD' | translate}}</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="password">{{'DEFAULT.PASSWORD' | translate}}</label>
              <input type="password" id="password" class="form-control form-control-alternative"
              [ngClass]="cssValidator(f.password)" formControlName="password" placeholder="{{'DEFAULT.PASSWORD' | translate}}">
              <div class="ml-1 invalid-feedback" *ngIf="f.password.errors?.required">{{'VALIDATIONS.PASS' | translate}}</div>
              <div class="ml-1 invalid-feedback" *ngIf="f.password.errors?.minlength">{{'VALIDATIONS.PASSCHAR' | translate}}</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="confirmPassword">{{'DEFAULT.CONFIRMPASS' | translate}}</label>
              <input type="password" id="confirmPassword" class="form-control form-control-alternative"
              [ngClass]="cssValidator(f.confirmPassword)" formControlName="confirmPassword" placeholder="{{'DEFAULT.CONFIRMPASS' | translate}}">
              <div class="ml-1 invalid-feedback" *ngIf="f.confirmPassword.errors?.required">{{'VALIDATIONS.CONFIRMPASS' | translate}}</div>
              <div class="ml-1 invalid-feedback" *ngIf="f.confirmPassword.errors?.mustMatch">{{'VALIDATIONS.PASSMATCH' | translate}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-right">
      <button type="submit" class="btn btn-success">{{'PROFILE.SAVEPROFILE' | translate}}</button>
    </div>
    </form>
  </div>
</div>
