<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header mb--4 border-0">
          <div class="form-group" [ngClass]="{'focused':focus===true}">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
              </div> 
              <input class="form-control" placeholder="Search" type="text" (input)="filterPokas($event.target)" (focus)="focus=true" (blur)="focus=false">
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Finished</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let poka of pokas">
                <th scope="row">
                  <div class="align-items-center mt-2">
                    <label class="customcheck">
                      {{poka.title}}
                      <input type="checkbox" (click)="checkPoka(poka, $event.target.checked)" *ngIf="poka.status === 0">
                      <input type="checkbox" (click)="checkPoka(poka, $event.target.checked)" *ngIf="poka.status === 1" checked>
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </th>
                <td>
                  <span *ngIf="poka.status === 0" class="badge badge-dot mr-4"> <i class="bg-yellow"></i> Pending</span>
                  <span *ngIf="poka.status === 1" class="badge badge-dot mr-4"> <i class="bg-green"></i> Completed</span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4 align-items-center">
                    {{poka.dateFinished | date}}
                  </span>
                </td>
                <td class="text-right">
                  <div>
                    <a class="btn btn-sm btn-icon-only text-light" (click)="openModal(contentPoka, this.poka)">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <pagination 
                [boundaryLinks]="true"
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                [maxSize]="5"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentPoka let-c="close" let-d="dismiss">
  <div class="modal-content">
    <form [formGroup]="form">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Poka</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
            <div class="input-group input-group-alternative">
              <input id="title" class="form-control" placeholder="Title" type="text" (focus)="focus=true" (blur)="focus=false"
              formControlName="title" [ngClass]="cssValidator(fp.title)">
              <div class="ml-1 invalid-feedback" *ngIf="fp.title.errors?.required">Title is required</div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'focused':focus1===true}">
            <div class="input-group input-group-alternative">
              <input id="description" class="form-control" placeholder="Description" type="text" (focus)="focus1=true" (blur)="focus1=false"
              formControlName="description">
            </div>
          </div>
          <div class="custom-control custom-control-alternative custom-checkbox">
            <input class="custom-control-input" id="suggestionCheck" type="checkbox">
            <label class="custom-control-label" for="suggestionCheck">
              <span class="ml--3">Send as a Suggestion to the team</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="d()">Cancel</button>
          <button type="button" [disabled]="!form.valid" class="btn btn-success" (click)="savePoka()">Save</button>
        </div>
    </form>
  </div>
</ng-template>
