<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>{{'ACCESS.SOCIALSIGNUP' | translate}}</small></div>
          <div class="btn-wrapper text-center">
            <a (click)="registerWithSocial('facebook')" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/facebook.svg"></span>
              <span class="btn-inner--text">Facebook</span>
            </a>
            <a (click)="registerWithSocial('google')" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-2">
            <small>{{'ACCESS.DEFAULTSIGNUP' | translate}}</small>
          </div>
          <form [formGroup]="form" (ngSubmit)="register()">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative mb-3"[ngClass]="{ 'has-danger': f.name.errors && f.name.touched }">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" [ngClass]="{ 'is-invalid': f.name.errors && f.name.touched }"
                formControlName="name" placeholder="{{'DEFAULT.NAME' | translate}}" type="name">
                <div class="ml-1 invalid-feedback" *ngIf="f.name.errors?.required">{{'VALIDATIONS.NAME' | translate}}</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3" [ngClass]="{ 'has-danger': f.userName.errors && f.userName.touched }">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" [ngClass]="{ 'is-invalid': f.userName.errors && f.userName.touched }"
                formControlName="userName" placeholder="{{'DEFAULT.EMAIL' | translate}}" type="email">
                <div class="ml-1 invalid-feedback" *ngIf="f.userName.errors?.required">{{'VALIDATIONS.EMAIL' | translate}}</div>
                <div class="ml-1 invalid-feedback" *ngIf="f.userName.errors?.email">{{'VALIDATIONS.EMAILINVALID' | translate}}</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative" [ngClass]="{ 'has-danger': f.password.errors && f.password.touched }">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }"
                formControlName="password" placeholder="{{'DEFAULT.PASSWORD' | translate}}" type="password">
                <div class="ml-1 invalid-feedback" *ngIf="f.password.errors?.required">{{'VALIDATIONS.PASS' | translate}}</div>
                <div class="ml-1 invalid-feedback" *ngIf="f.password.errors?.minlength">{{'VALIDATIONS.PASSCHAR' | translate}}</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative" [ngClass]="{ 'has-danger': f.confirmPassword.errors && f.confirmPassword.touched }">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched }"
                formControlName="confirmPassword" placeholder="{{'DEFAULT.CONFIRMPASS' | translate}}" type="password">
                <div class="ml-1 invalid-feedback" *ngIf="f.confirmPassword.errors?.required">{{'VALIDATIONS.CONFIRMPASS' | translate}}</div>
                <div class="ml-1 invalid-feedback" *ngIf="f.confirmPassword.errors?.mustMatch">{{'VALIDATIONS.PASSMATCH' | translate}}</div>
              </div>
            </div>
            <!-- <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div> -->
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox mb-2">
                  <input formControlName="defaultData" class="custom-control-input" id="defaultDataCheck" type="checkbox">
                  <label class="custom-control-label" for="defaultDataCheck">
                    <span class="text-muted">{{'ACCESS.STANDARDPOKAS' | translate}}</span>
                  </label>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input formControlName="privacyPolicy" class="custom-control-input" id="privacyPolicyCheck" type="checkbox">
                  <label class="custom-control-label" for="privacyPolicyCheck">
                    <span class="text-muted">{{'ACCESS.IAGREE' | translate}} <a href="#!">{{'ACCESS.PRIVACY' | translate}}</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" [disabled]="!form.valid" class="btn btn-primary mt-4">{{'ACCESS.CREATEACC' | translate}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
