<ul class="navbar-nav">
  <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
          <i class="ni {{menuItem.icon}}"></i>
          {{menuItem.title | translate}}
      </a>
  </li>
</ul>
<!-- Admin -->
<hr class="my-3">
<h6 class="navbar-heading text-muted">{{'SIDEBAR.ADMIN' | translate}}</h6>
<ul class="navbar-nav mb-md-3">
  <li *ngFor="let adminItem of adminItems" class="nav-item">
    <a class="nav-link" [routerLink]="[]" (click)="openModal(contentPoka)">
      <i class="ni {{adminItem.icon}}"></i> {{adminItem.title | translate}}
    </a>
  </li>
</ul>

<ng-template #contentPoka let-c="close" let-d="dismiss">
  <div class="modal-content">
    <form [formGroup]="form">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'SIDEBAR.ADDPOKA' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
            <div class="input-group input-group-alternative">
              <input id="title" class="form-control" placeholder="{{'TASKS.TITLE' | translate}}" type="text" (focus)="focus=true" (blur)="focus=false"
              formControlName="title" [ngClass]="cssValidator(fp.title)">
              <div class="ml-1 invalid-feedback" *ngIf="fp.title.errors?.required">{{'VALIDATIONS.TITLE' | translate}}</div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'focused':focus1===true}">
            <div class="input-group input-group-alternative">
              <select class="form-control form-select" id="groupId" formControlName="groupId" hidden>
                <option value="1">Default Group</option>
              </select>
            </div>
          </div>
          <div class="custom-control custom-control-alternative custom-checkbox">
            <input class="custom-control-input" id="suggestionCheck" type="checkbox">
            <label class="custom-control-label" for="suggestionCheck">
              <span class="ml--3">{{'TASKS.SUGGESTION' | translate}}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="d()">{{'DEFAULT.CANCEL' | translate}}</button>
          <button type="button" [disabled]="!form.valid" class="btn btn-success" (click)="newPoka()">{{'DEFAULT.CREATE' | translate}}</button>
        </div>
    </form>
  </div>
</ng-template>
